APP_ENV=development
PORT=8080
GRPC_PORT=9090
GIN_MODE=debug

DB_HOST=localhost
DB_USER=admin
DB_PASSWORD=change_me_strong_password
DB_NAME=godb
DB_PORT=5432

ES_ADDRESS=http://localhost:9200
ES_USERNAME=elastic
ES_PASSWORD=
REDIS_ADDR=localhost:6379
REDIS_PASSWORD=

KAFKA_BROKERS=localhost:9092
KAFKA_USERNAME=
KAFKA_PASSWORD=
KAFKA_TLS=false
KAFKA_ORDER_TOPIC=warehouse.order.created
KAFKA_CONSUMER_GROUP=warehouse-service

# Docker compose overrides
COMPOSE_PROJECT_NAME=goproject
